/* adding the -- creates the CSS variable declaration. Then use the "var" keyword to utilize 
the CSS variable. Generally these CSS variables are placed in the html tag */

html {
    --color-black-100: rgb(202, 207, 214);
    --backgroundcolor-grey: rgb(255,0,255);
    background-color: var(--backgroundcolor-grey);
}

main {
    background-color: var(--color-black-100);
    width: 21rem;
    border: 2px solid black;
    margin: 2.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content:center;

    /* example of how to use the transition effect. You only need one transition per section, 
    otherwise it overwrites each other */
    transition: transform 0.1s ease-out;
}

/* Playing around with the transform / transition properties. Transition property
must be placed in the "initial" state, in this case before the hovering element takes place 
so transition is placed in main and not main:hover. 
Transition essentially makes things "smoother" to look at.  */
main:hover {
    transform: scale(1.16);
    background-color: red;
    

}

section {
    text-align: center;
}

ul li {
    list-style-position: inside ;
}

#price-section {
    background-color: rgb(103, 201, 204);
    color: white;
    font-size: 2rem;
}

h1 {
    text-align: left;
    width: 25%;
    margin-left: 1rem;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    color:rgba(21, 223, 223, 0.842);
    text-transform: uppercase;
}

#price-btn ul li a {
    background-color: white;
    text-decoration: none;
    border: 1px solid grey;
    padding: 0.7rem 4rem;
}

#price-btn ul li {
    list-style: none;
}

#price-list ul {
    text-align: left;
}