body {
  font-family: "open sans", sans-serif;
  margin: 0;
  background-color: rgb(44, 41, 38);
}
h1 {
  text-transform: uppercase;
  color: rgb(255, 136, 0);
  padding-left: 50px;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: rgb(219, 147, 64);
}

#main-header a:hover {
  color: white;
  background-color: rgb(221, 134, 34);
  border-radius: 8px;
  padding: 5px;
}

#main-header {
  height: 80px;

  /* This portion centers the items in the header section */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* This portion centers the items in the header section */

  background-color: rgb(29, 26, 24);
  padding: 0px 20px;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 128, 1);
  text-transform: uppercase;
}

ul {
  list-style: none;
  display: flex;
  padding: 0px;
}

ul li {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  margin: 0px 16px;
}

main {
  text-align: center;
  background: linear-gradient(90deg, rgb(46, 44, 44), rgb(37, 34, 34));
  overflow: hidden;
}

main h1{
  text-align: center;
  color: rgb(238, 164, 80);
  font-size: 38px;
}

/* section to create the grid for the images */
#latest-products {
  width: 80%;
  margin: 50px auto;
}

/* Create the grid to have 2 columns using the fr "fractional" attr */
#latest-products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin: 0px;
  padding: 0px;
}
/* section to create the grid for the images */

/* decorates the image size to get proper aspect ratios. The height is the important factor in setting this.*/
.food-items img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.food-items-content h2 {
  color: rgb(202, 86, 19);
  padding: 16px;
  margin: 0px 0px 24.9px 0px
}

/* overflow helps to provide the rounded corners for the top of the images */
.food-items {
  background-color: rgb(228, 206, 182);
  padding: 0px 0px 25px;
  border-radius: 6px;
  overflow: hidden;
}

.btn {
  background-color: rgb(228, 157, 44);
  color: white;
  border-radius: 8px;
  padding: 4px 24px;
  margin-bottom: 30px;
}

.btn:hover {
  background-color: rgb(221, 134, 34);
}