body {
  font-family: "open sans", sans-serif;
  margin: 0;
  background-color: rgb(44, 41, 38);
}
h1 {
  text-transform: uppercase;
  color: rgb(255, 136, 0);
  padding-left: 50px;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: rgb(219, 147, 64);
}

.main-header a:hover {
  color: white;
  background-color: rgb(221, 134, 34);
  border-radius: 8px;
  padding: 5px;
}

.main-header {
  height: 5em;

  /* This portion centers the items in the header section */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* This portion centers the items in the header section */

  background-color: rgb(29, 26, 24);
  padding: 0% 3%;
}

/* hamburger section for the header  */
/* fixed position in order to get the element "behind" the viewport so to speak. Allows to take the entire page   */
#side-drawer {
  background-color: rgb(29, 26, 24);
  width: 100%;
  height: 100%;
  position: fixed;
  top:0px;
  left: 0%;
  display: none;
}

#side-drawer:target {
  display: block;
}

#side-drawer ul {
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
}

#side-drawer a {
  color:rgb(253, 239, 213);
  font-size: 2rem;
}

/* hamburger section for the header  */

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 128, 1);
  text-transform: uppercase;
}

ul {
  list-style: none;
  display: flex;
  padding: 0px;
}

ul li {
  padding: 10px;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0rem 1rem;
}

main {
  text-align: center;
  background: linear-gradient(90deg, rgb(46, 44, 44), rgb(37, 34, 34));
  overflow: hidden;
}

main h1 {
  text-align: center;
  color: rgb(238, 164, 80);
  font-size: 3rem;
}

/* section to create the grid for the images */
#latest-products {
  width: 80%;
  margin: 2rem auto;
}

/* Create the grid to have 2 columns using the fr "fractional" attr */
#latest-products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0px;
  padding: 0px;
}
/* section to create the grid for the images */

/* decorates the image size to get proper aspect ratios. The height is the important factor in setting this.*/
.food-items img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.food-items-content h2 {
  color: rgb(202, 86, 19);
  padding: 16px;
  margin: 0px 0px 24.9px 0px;
  font-size: 1.5rem;
}

/* overflow helps to provide the rounded corners for the top of the images */
.food-items {
  background-color: rgb(228, 206, 182);
  padding: 0px 0px 25px;
  border-radius: 6px;
  overflow: hidden;
}

.btn {
  background-color: rgb(228, 157, 44);
  color: white;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin-bottom: 2rem;
}

.btn:hover {
  background-color: rgb(221, 134, 34);
}

/* Creating the hamburger icon */
.menu-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-btn span {
  width: 100%;
  height: 4px;
  background-color: white;
}

/* Nav bar for when you click the hamburger.  */
#side-drawer header {
  height: 5em;

  /* This portion centers the items in the header section */
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  /* This portion centers the items in the header section */

  padding: 0% 3%;
}

#side-drawer header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 128, 1);
}


/* Creating the hamburger icon */

/* Responsive design section. parenthesis sets the min-width (emphasis on smart phones. Smart phones -> Desktop)
 or max-width(desktops -> smartphones) Followed by {} and selecting which items you want / need to change. 
 In our case, we have selected the section that changes the grid properties and instead of having 2 columns,
  we change it to 1 column after the viewport reaches 768px. MEDIA QUERIES also need to be at the bottom of the page due to
  code being read top to bottom.    */

/* 48rem is equivalent to 768px. Default font size value is 16, therefore 768/16 = 48. 1rem is = to the default 
font size for a webpage. */
@media (max-width: 48rem) {
  #latest-products ul {
    grid-template-columns: 1fr;
  }
  main h1 {
    font-size: 1.5rem;
  }
  /* This part makes the nav items disappear. Allows us to add the "hamburger" part.  */
  nav ul {
    display: none;
  }

}

/* min width creates the default for the smart phone dimensions. In this case our hamburger icon is displayed with a screen < 768px or 48rem. Disappears 
when min-width value is > 48rem or 768px  */
@media (min-width: 48rem) {
  .menu-btn {
    display: none;
  }

  

}