<!-- USING THE EJS INCLUDES FUNCTION -->
<!-- features of EJS is the ability to include reusable components or partials within your templates using the < %- include(filename) %> syntax. -->
<!-- This way we don't have to keep repeating code and can simply load up a segment into all of our sites -->

<!-- Purpose of using "partials" is for general maintainability for code. Allows any of the .ejs pages to be changed in just one section rather
than going through each of them and making individual changes -->

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eatwell - Make The World A Tastier Place</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/shared.css" />
    <script src="./scripts/responsive.js" defer></script>
